.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__logo {
  max-width: 255px;
  margin-top: 34px;
  margin-bottom: 91px;
}

.header__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header__tittle {
  font-size: 96px;
  line-height: 1;
  text-align: center;
  max-width: 720px;
  margin: 0px auto 32px auto;
}

.header__subheading {
  font-size: 30px;
  text-align: center;
  max-width: 720px;
  margin: 0 auto 64px;
}

.header__image {
  display: flex;
  justify-content: center;
  filter: grayscale(100%);
  max-width: 984px;
  margin-bottom: 92px;
}
